linkedin_bot_WORKING.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 4 * * *"
            }
          ]
        }
      },
      "id": "064bbfc5-fa10-43cc-8489-3ccc3b2de3e2",
      "name": "Daily 10AM IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -3456,
        752
      ]
    },
    {
      "parameters": {},
      "id": "7931b6b7-ba37-449b-a4db-f3c9d5846e3e",
      "name": "Test Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3456,
        912
      ]
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search?query=AI+automation+machine+learning&tags=story&hitsPerPage=15&numericFilters=points%3E30",
        "options": {
          "timeout": 15000
        }
      },
      "id": "bf4bcb81-05b1-4ae8-96a3-7c808fdda784",
      "name": "Fetch Trending HN Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3216,
        832
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst hits = (data.hits || []).filter(h => h.title && h.points > 20);\nhits.sort((a, b) => b.points - a.points);\nconst keywords = ['ai','gpt','llm','machine learning','automation','agent','cybersecurity','openai','python','ml','deep learning','model','neural','robot','data'];\nconst relevant = hits.filter(h => keywords.some(k => h.title.toLowerCase().includes(k))).slice(0, 5);\nconst pick = relevant[0] || hits[0] || { title: 'AI agents are replacing SaaS workflows in 2026', url: '', points: 100 };\n\nconst profileCtx = 'Aditya Sahani: AI Student (IBCP), 16, Python Developer, IIT Bombay Eureka Junior Top 100, built anomaly detection, AI scrapers, 14k leads/day automation pipeline, interested in AI, ML, Automation, Cybersecurity.';\n\nconst prompt = 'You are a top 1% LinkedIn strategist. Write a viral post for this student developer.\\n\\nAbout: ' + profileCtx + '\\n\\nTrending topic: \"' + pick.title + '\"\\n\\nRules:\\n- 1-line scroll-stopping hook\\n- Short sentences, mobile-friendly\\n- Personal angle from his real projects\\n- 1 key insight, 1 takeaway\\n- End with question\\n- Max 3 emojis\\n\\nReturn ONLY this JSON, no markdown:\\n{\"post\":\"full post here\",\"hashtags\":\"#AI #tag2 #tag3 #tag4\",\"best_time\":\"HH:MM IST\",\"hook_preview\":\"first line only\"}';\n\nconst openai_body = JSON.stringify({\n  model: 'gpt-4.1-nano',\n  max_tokens: 800,\n  temperature: 0.85,\n  messages: [\n    { role: 'system', content: 'You are a top LinkedIn content strategist. Return ONLY valid JSON. No markdown. No explanation.' },\n    { role: 'user',   content: prompt }\n  ]\n});\n\nreturn [{ json: {\n  trending_topic: pick.title,\n  topic_url: pick.url || '',\n  topic_points: pick.points || 0,\n  openai_prompt: prompt,\n  openai_body: openai_body,\n  run_date: new Date().toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata' }),\n  run_timestamp: new Date().toISOString()\n} }];"
      },
      "id": "9e16211e-0d58-4bf6-ba43-798385ff01dc",
      "name": "Pick Topic and Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2976,
        832
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "a06ba33f-66c2-477c-b5f9-34e314f62617",
      "name": "Wait 3s Before OpenAI",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2736,
        832
      ],
      "webhookId": "wait-openai-rate-limit-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Pick Topic and Build Prompt').first().json.openai_body }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "f9898f52-9d85-4bb4-8e23-fcbccc46f5e9",
      "name": "OpenAI Generate Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2496,
        832
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const aiResp = $input.first().json;\nconst prev = $('Pick Topic and Build Prompt').first().json;\n\nconst isRateLimit = aiResp.error?.status === 429 || aiResp.status === 429 || JSON.stringify(aiResp).includes('429');\n\nlet p = {};\nif (isRateLimit) {\n  p = {\n    post: 'Deep learning just got ears.\\n\\nResearchers built an AI that listens to machines — motors, pumps, turbines — and detects problems before they break.\\n\\nNo sensors. No manual checks. Just sound + AI.\\n\\nI built something similar at 16. My anomaly detection project flags unusual patterns in data streams automatically.\\n\\nThe principle is the same:\\nTeach the model what normal sounds like.\\nAnything else = alert.\\n\\nThis is not the future. This is running in factories right now.\\n\\nIf AI can hear a failing motor, what else can it sense before humans notice?',\n    hashtags: '#AI #MachineLearning #AnomalyDetection #BuildInPublic',\n    best_time: '11:00 IST',\n    hook_preview: 'Deep learning just got ears.',\n    used_fallback: true\n  };\n} else {\n  try {\n    const raw = aiResp.choices?.[0]?.message?.content || '{}';\n    p = JSON.parse(raw.replace(/```json|```/gi,'').trim());\n  } catch(e) {\n    p = {\n      post: 'I built an anomaly detection system at 16.\\n\\nNot for a grade. For real.\\n\\nThe gap between student project and real system is smaller than you think.\\n\\nYou just have to build like it matters.\\n\\nWhat is the most real thing you have built?',\n      hashtags: '#AI #BuildInPublic #Automation #StudentDeveloper',\n      best_time: '11:00 IST',\n      hook_preview: 'I built an anomaly detection system at 16.'\n    };\n  }\n}\n\nconst timeStr = (p.best_time || '11:00 IST').replace(' IST','');\nconst tp = timeStr.split(':');\nlet uh = (parseInt(tp[0])||11) - 5;\nlet um = (parseInt(tp[1])||0) - 30;\nif (um < 0) { um += 60; uh -= 1; }\nif (uh < 0) uh += 24;\nconst tom = new Date();\ntom.setDate(tom.getDate()+1);\ntom.setUTCHours(uh, um, 0, 0);\n\nconst fullPost = (p.post||'') + '\\n\\n' + (p.hashtags||'');\nconst fallbackNote = p.used_fallback ? '\\n\\n⚠️ _Rate limit hit — fallback post used_' : '';\nconst tgMsg = '\\u{1F4DD} *LinkedIn Post Ready*' + (p.used_fallback ? ' _(fallback)_' : '') + '\\n\\n\\u{1F4CC} *Topic:* ' + prev.trending_topic + '\\n\\u{23F0} *Post at:* ' + (p.best_time||'11:00 IST') + ' tomorrow' + fallbackNote + '\\n\\n' + '\\u2500'.repeat(22) + '\\n\\n' + (p.post||'') + '\\n\\n' + (p.hashtags||'') + '\\n\\n' + '\\u2500'.repeat(22) + '\\n\\n\\u{1F447} Tap a button below';\n\nconst linkedin_body = JSON.stringify({\n  author: 'urn:li:person:LINKEDIN_PERSON_URN_HERE',\n  lifecycleState: 'PUBLISHED',\n  specificContent: {\n    'com.linkedin.ugc.ShareContent': {\n      shareCommentary: { text: fullPost },\n      shareMediaCategory: 'NONE'\n    }\n  },\n  visibility: { 'com.linkedin.ugc.MemberNetworkVisibility': 'PUBLIC' }\n});\n\nreturn [{ json: {\n  post_text:     p.post||'',\n  full_post:     fullPost,\n  hashtags:      p.hashtags||'#AI',\n  best_time_ist: p.best_time||'11:00 IST',\n  post_utc_iso:  tom.toISOString(),\n  hook_preview:  p.hook_preview||'',\n  telegram_msg:  tgMsg,\n  topic_title:   prev.trending_topic,\n  run_date:      prev.run_date,\n  used_fallback: p.used_fallback || false,\n  linkedin_body: linkedin_body\n} }];"
      },
      "id": "c9bfba83-4c56-4c13-8950-0ea12851e9fa",
      "name": "Parse and Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2256,
        832
      ]
    },
    {
      "parameters": {
        "chatId": "XXXXXXXX",
        "text": "={{ $json.telegram_msg }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "6e1d1a2d-899e-49c6-83a6-3e983fec2055",
      "name": "Telegram Send Preview",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2016,
        832
      ],
      "webhookId": "ff098e27-733e-483b-a310-d353b6ac20db",
      "credentials": {
        "telegramApi": {
          "id": "8XYMBBRYD3PfKV4S",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "6bbb211d-bce3-4700-a807-c44e96315887",
      "name": "Wait for Your Decision",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1776,
        832
      ],
      "webhookId": "linkedin-approval-aditya-2026"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "chk-approve",
              "leftValue": "={{ ($json.query && $json.query.action) ? $json.query.action : 'hold' }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "options": {}
        },
        "options": {}
      },
      "id": "59b121b2-725e-46f2-9507-e53fedddf1ea",
      "name": "Approved or Held",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1536,
        832
      ]
    },
    {
      "parameters": {
        "chatId": "5969392268",
        "text": "={{ '✅ *Approved!*\\n\\nScheduled for *' + $(\\'Parse and Format Output\\').first().json.best_time_ist + '* tomorrow.\\nWill notify when live.' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "ea12742c-6b99-48fa-a077-b2dfd6ad673c",
      "name": "Telegram Approved ACK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1296,
        688
      ],
      "webhookId": "190ae5c8-2b4d-4f42-8bec-ba02795cd16f"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $('Parse and Format Output').first().json.post_utc_iso }}"
      },
      "id": "7cec9d0e-bdc6-492e-95f7-efaecdd45576",
      "name": "Wait Until Peak Post Time",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1056,
        688
      ],
      "webhookId": "linkedin-peak-aditya-2026"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LINKEDIN_ACCESS_TOKEN_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Parse and Format Output').first().json.linkedin_body }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "7649f001-36c3-4fe1-8378-f54401fd6f35",
      "name": "Post to LinkedIn API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -816,
        688
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst id = resp.id || resp.value?.id || '';\nconst url = id ? 'https://www.linkedin.com/feed/update/' + id + '/' : 'https://www.linkedin.com/feed/';\nreturn [{ json: { post_id: id, post_url: url, posted_at: new Date().toISOString() } }];"
      },
      "id": "fb6d0b91-1728-424a-a4c9-2ad94725364c",
      "name": "Extract Post URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        688
      ]
    },
    {
      "parameters": {
        "chatId": "5969392268",
        "text": "={{ '\\u{1F680} *LIVE on LinkedIn!*\\n\\n' + $json.post_url + '\\n\\nCheck engagement in 2 hours.' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b997bc0a-e110-4a5a-86f5-f45ec9e64b53",
      "name": "Telegram Posted Live",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -336,
        608
      ],
      "webhookId": "4423f7c6-d1b8-4303-a860-6f11a0509590"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "PASTE_YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Posts Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Parse and Format Output').first().json.run_date }}",
            "Topic": "={{ $('Parse and Format Output').first().json.topic_title }}",
            "Post": "={{ $('Parse and Format Output').first().json.post_text }}",
            "Hashtags": "={{ $('Parse and Format Output').first().json.hashtags }}",
            "Used Fallback": "={{ $('Parse and Format Output').first().json.used_fallback }}",
            "Posted At": "={{ $('Extract Post URL').first().json.posted_at }}",
            "Post URL": "={{ $('Extract Post URL').first().json.post_url }}",
            "Status": "Published"
          }
        },
        "options": {}
      },
      "id": "84c4ac5b-92f7-4631-bbf1-03798962e1f0",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -336,
        768
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fPxWv5CdoYfX9Z3Z",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "5969392268",
        "text": "⏸ *Held.* No post today.\n\nFresh content tomorrow at 10:00 AM IST. 👍",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "e9197671-34ae-479e-929e-843a493d73c2",
      "name": "Telegram Held",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1296,
        976
      ],
      "webhookId": "04715d2d-2604-45a0-a088-720dc5249e06"
    }
  ],
  "connections": {
    "Daily 10AM IST": {
      "main": [
        [
          {
            "node": "Fetch Trending HN Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Manually": {
      "main": [
        [
          {
            "node": "Fetch Trending HN Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Trending HN Topics": {
      "main": [
        [
          {
            "node": "Pick Topic and Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Topic and Build Prompt": {
      "main": [
        [
          {
            "node": "Wait 3s Before OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s Before OpenAI": {
      "main": [
        [
          {
            "node": "OpenAI Generate Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Generate Post": {
      "main": [
        [
          {
            "node": "Parse and Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Format Output": {
      "main": [
        [
          {
            "node": "Telegram Send Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send Preview": {
      "main": [
        [
          {
            "node": "Wait for Your Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Your Decision": {
      "main": [
        [
          {
            "node": "Approved or Held",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved or Held": {
      "main": [
        [
          {
            "node": "Telegram Approved ACK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Held",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Approved ACK": {
      "main": [
        [
          {
            "node": "Wait Until Peak Post Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Until Peak Post Time": {
      "main": [
        [
          {
            "node": "Post to LinkedIn API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn API": {
      "main": [
        [
          {
            "node": "Extract Post URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Post URL": {
      "main": [
        [
          {
            "node": "Telegram Posted Live",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9457ca94cb4a796d40b17d173d80d35979f6fb59e00e286adbc7ad7bccb1aa8"
  }
}
